name: Build

on:
  push:
    branches: [main]

jobs:
  snapshots:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"

      - name: Install dependencies
        run: yarn ci

      - name: Build
        run: yarn run build
